*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.seccion-producto1{
    padding: 40px 80px;
}

/* Cabecera*/
.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.contenido_logo{
    font-size: 15px;
    font-weight: 500;
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
}

.contenido_logo a{
    text-decoration: none;
}

.eslogan{
    margin-left: 130px;
    color: #1a1a1a;
}

.logo{
    width: 250px;
}

/*sección de navegación*/
.navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegacion li{
    padding: 0 20px;
    position: relative;
}

.navegacion li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}

.navegacion li a:hover,
.navegacion li a.activo{
    color: #227e93;
}

.navegacion li a.activo::after,
.navegacion li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #227e93;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Sección de registros*/
.registros{
    display: flex;
    align-items: center;
    justify-content: center;
}

.registros li{
    padding: 0 10px;
    position: relative;
}

.registros li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}

.registros li a:hover,
.registros li a.activo{
    color: #8a321d;
}

.registros li a.activo::after,
.registros li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #8a321d;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Sección de Portada*/
.portada{
    font-family: 'Roboto', sans-serif;
    background-image: url(/Interfaz/assets/images/portada.png);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.portada h4{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 900;
}

.portada h2{
    font-size: 50px;
    font-weight: 1200;
}

.portada h1{
    color: #227e93;
    font-size: 50px;
    font-weight: 1200;
    padding-bottom: 15px;
}

.portada p{
    padding-bottom: 15px;
}

.portada button{
    background-image: url(/Interfaz/assets/images/button.png);
    background-color: transparent;
    color: #227e93;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/*Sección Productos*/

#producto1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#producto1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#producto1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#producto1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#producto1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#producto1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#producto1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#producto1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#producto1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#producto1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #227e93;
}

#producto1 .pro .carrito{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #227e93;
    border: 1px solid #227e93;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
